
.ClickTrail {
    z-index: 2;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 0 0 9px #fff;
    transform: translate(-10px, -10px);
    transition: all 0.7s;
}
