
a.button,
button {
  background: #e3e3e3;
  border-width: 0;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 0 10px;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

a.button:hover,
button:hover {
    background: #d9d9d9;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

a.button:active,
button:active {
    background: #d0d0d0;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}
