
#TouchyTouchyUI,
.AppInterface {
    width: 100%;
    height: 100%;
}

.AppInterface {
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
    cursor: pointer;
    transition: background-color .4s;
}

// Hero titles
.container.hero-titles {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .titles {
    top: 50%;
    left: 50%;
    float: left;
    text-align: center;
    transform: translate(-50%, -50%);
}

.hero-titles .titles h1,
.hero-titles .titles h2 {
    margin: 0;
    color: #fff;
}

.hero-titles .titles h1 {
    margin-bottom: 10px;
    font-size: 6rem;
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.hero-titles .titles .inner-copy {
    color: rgba(0, 0, 0, .3);
}

.hero-titles .titles h2 {
    font-size: 2rem;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -.025em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

// Dev Resources
.dev-resources {
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 8%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.dev-resources .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 7px;
}

.dev-resources .list li {
    margin-right: 14px;
    width: 82px;
    height: 82px;
}

.dev-resources .list li:last-child {
    margin-right: 0;
}

.dev-resources .list li a {
    display: block;
    width: 82px;
    height: 82px;
    transition: all .5s;
}

.dev-resources.list li a:hover {
    transform: scale(1.3);
}
