
.is-hidden {
    display: none;
}

.is-hidden-translateY {
    transform: translateY(-100%);
}

.is-hidden-translateX {
    transform: translateX(-100%);
}

.is-invisible {
    visibility: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.list.reset {
    margin: 0;
    padding: 0;
    list-style: none outside;
}
